<html>
    <head>
        <title>
        <%=title %>
        </title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/7692/7692809.png">
    </head>
    <body>
        <div class="nav">
            <div class="nav-logo-section">
                <a href=""><img src="https://cdn-icons-png.flaticon.com/512/9802/9802618.png" alt="" class="nav-logo"></a>
                <a href=""><span class="nav-logo-name">Todos.</span></a>
            </div>
            <div class="login-signup-section">
                <a href="/login" class="nav-login">Login</a>
                <a href="/register" class="nav-register">Sign Up</a>
            </div>
        </div>
        <div class="main-container">
            <h4 class="main-heading">Todos, just tasks</h4>
            <div class="about">
                <p>keep track of the daily tasks in life and get that satisfaction upon completion.</p>
            </div>
            <div class="buttons">
                <a href="/dashboard"><button class="get-start" id="start">Get Started</button></a>
                <button class="learn-more" id="more">Learn More</button>
            </div>
        </div>
        <div class="learn-more-container" id="learn-more-container">
            <img src="https://cdn-icons-png.flaticon.com/512/2976/2976286.png" alt="" class="close-button">
            <p class="para1">
                <span class="para-first-word">To-do lists</span> are a list of tasks that an individual needs to complete or accomplish.
                Tasks are typically put in order by priority or importance. A to-do list can be written
                on a piece of paper or by utilizing task management software. Items on the list can
                pertain to one's personal or professional life.
            </p>
            <p class="para-heading">
                Benefits of to-do lists
            </p>
            <p class="para2">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae quos ipsa maxime praesentium voluptatum veniam rem at architecto porro obcaecati, optio debitis maiores illo corrupti! Atque cumque dolor dolore hic, sit maxime voluptas itaque totam dolores reprehenderit officia, libero ratione dolorum ipsa laborum necessitatibus architecto voluptates vitae quia velit, dicta placeat! Laudantium in similique autem voluptatibus recusandae nobis accusamus molestiae omnis temporibus laboriosam eaque fugiat, tenetur quo. Voluptates repellat in molestias tenetur modi, vitae possimus quae amet quisquam enim rerum temporibus at dicta beatae ut est, porro, sint magnam dignissimos! Quam velit illo eius nam vero autem natus fugiat laboriosam id sunt ipsam, fugit magni non facilis, praesentium molestias eaque. Quas, maxime esse? Tenetur, itaque? Enim, tempore minus reprehenderit adipisci consectetur doloribus modi voluptatem, maiores vel eum laboriosam. Quibusdam, quasi quia similique a non, ducimus doloribus enim hic est suscipit nisi tempore rerum praesentium maiores quas excepturi? At sint dolore, voluptate aut hic nisi. Dicta eum dolore saepe nam amet magnam tempore delectus magni doloribus? Consequuntur praesentium dolorum ut iste voluptas magnam delectus, et amet quia dolore aperiam ullam sapiente, eveniet assumenda, quos eligendi ea. Est officia cum voluptatum. Quibusdam aspernatur repellendus quas, dolores nobis possimus harum distinctio ratione! Reiciendis minima quam tenetur optio atque blanditiis et reprehenderit, eveniet modi numquam, aspernatur est. Est laudantium, vitae nam dolore vel nobis natus? Aliquam modi molestias, est ut in repellat architecto quibusdam provident atque assumenda officiis corrupti magni. Commodi vero quo laborum quidem natus, maiores laboriosam, velit voluptate asperiores quaerat, accusamus qui cupiditate fuga aliquam tenetur eaque. Iure similique magni quae iusto ipsum, error nisi doloremque perferendis dolorem, dolorum ipsa unde. Alias reiciendis quod dolorum suscipit ipsum nesciunt aut accusantium! Autem provident vitae quam, minima corporis sequi ea dolorem commodi ex est nemo blanditiis obcaecati praesentium neque, iste quae fugiat eius? Necessitatibus est molestias fugit debitis iusto, impedit aliquid non vitae enim ad, asperiores earum tenetur incidunt, repellat voluptates! Ipsa fuga expedita vel, molestiae blanditiis delectus laboriosam esse, aperiam facere assumenda sint praesentium atque officia, dolorem beatae? Temporibus laborum reprehenderit ipsa, excepturi eius molestiae eligendi suscipit quas libero. Magnam dolores illum voluptate impedit velit commodi quisquam. Odit aliquam atque quae maxime ab ut asperiores inventore expedita, incidunt voluptates, dolore perferendis iusto assumenda voluptatum, pariatur quisquam! Aut labore natus id facilis modi inventore tempore, optio assumenda quas molestiae quis velit enim distinctio. Laudantium facere, iusto inventore velit porro alias dolorum quae provident veritatis cumque impedit magnam itaque, cum sapiente aut? Necessitatibus sed architecto vero quaerat nam! Dignissimos nisi tempora fugit natus dolore, quos, quisquam, quo magni deleniti aliquam dolor praesentium a vel. Nulla nihil repellendus hic eaque tempore distinctio error, aut dignissimos repellat! Reprehenderit aut vel culpa natus laborum distinctio quisquam aliquid delectus, alias velit id modi dignissimos itaque eligendi numquam nostrum, dolor consequatur dolorum nesciunt, minima optio fugit voluptatem praesentium. Ipsam deserunt tempora dolor quibusdam, vel incidunt tenetur nemo consequatur nesciunt ratione labore aperiam voluptatibus suscipit dolores minus sunt ea voluptatem earum fugiat. Dicta eum quaerat omnis? Perferendis maxime quas fugit. Et.    
            </p>
        </div>
    
        <!-- background element -->
        <div class="element1"></div>
        <div class="element2"></div>
        <div class="element3"></div>
    
        <script src="/js/home.js"></script>
    </body>
    
    </html>
</html>