<html>
<head>
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form action="./register" method="post">
        <div>
            <input type="text" name="name" id="name" required placeholder="Name">
        </div>
        <div>
            <input type="text" name="lastName" id="lastName" required placeholder="Last Name">
        </div>
        <div>
            <input type="text" name="phone" required placeholder="Phone">
        </div>
        <div>
            <input type="email" name="email" id="email" required placeholder="Email">
        </div>
        <div>
            <input type="password" name="password" required placeholder="Password">
        </div>
        <div>
            <input type="submit" value="Register">
        </div>
    </form>
</body>
</html>
